
@{
    ViewBag.Title = "PathPlan";
}
@Scripts.Render("~/Scripts/PathPlan.js")

<div class="background" style="float:left;">
    <h2>路線規劃</h2>
    <button type="button" onclick="ClearlocalStorage()" class="btn-danger btn ">重新規劃</button>
    <div class=" contains-white" style="float:left; width: 30%;">
    <p><a href="@Html.Encode(Request.UrlReferrer.ToString())" class="btn btn-warning">上一頁</a></p>
        <div id="pathContext"></div>
    <div id="directions_panel"></div>
</div>
    <div class="contains-white" style="width:60%; float:left;">
        google 地圖
        <div id="map-canvas" style="width:600px;height:600px;"></div>
    </div>
</div>

