
@{
    ViewBag.Title = "路線規劃";
}
@Scripts.Render("~/Scripts/PathPlan.js")

<div class="background" style="float:left; width:100%;">
    <h2>路線規劃</h2>
    <h3 id="SpotName"></h3>
    <h3 id="msg" style="color:#ff6a00;"></h3>
    <div id="pathContext" class=" contains-white" style="float:left; width: 20%;">
        <p>
            <a href="@Html.Encode(Request.UrlReferrer.ToString())" class="btn btn-warning">上一頁</a>
            <button type="button" onclick="ClearlocalStorage()" class="btn-danger btn ">重新規劃</button>
        </p>
        <div id="pathPnt"></div>
    </div>
    <div id="mapsContain" class="contains-white" style="width:50%; float:left;">
        google 地圖
        <div id="map-canvas" style="width:500px;height:600px;"></div>
    </div>
    <div id="pathContain" class=" contains-white" style="float:left; width: 20%;">
        <div id="directions_panel"></div>
    </div>
</div>

