
@{
    ViewBag.Title = "PathPlan";
}
@Scripts.Render("~/Scripts/PathPlan.js")

<div class="background">
    <div class="contains-white" style="float:left;" >
        <p><a href="@Html.Encode(Request.UrlReferrer.ToString())" class="btn btn-warning">上一頁</a></p>
        <div id="directions_panel" style=" width: 30%;">
        </div>
    </div>
    <div class="contains-white" style="width:70%;">
        google 地圖
        <div id="map-canvas" style="width:750px;height:250px;">
        </div>
    </div>
</div>

