@Scripts.Render("~/Scripts/SearchBlog.js")

@{
    ViewBag.Title = "SearchBlog";
}

<h2>搜尋部落格</h2>
<div>
    <form action="SearchBlog" method="get">
        <input type="text" class="text text-info" name="SearchText" />
        <button type="submit" class="btn btn-warning ">搜尋</button>
    </form>
</div>

<div class="Context">
    <table class="table " style="background-color:#0f51a1">
        <tr class="info">
            <th colspan="2">搜尋結果：共<span id="ResultCount"></span>筆，第<span id="ResultPage"></span>頁</th>
        </tr>
    </table>
</div>


