@Scripts.Render("~/Scripts/SearchBlog.js")

@{
    ViewBag.Title = "SearchBlog";
}

<h2>搜尋 <span id="SearchName"></span>@ViewData["SearchName"]</h2>

<div class="Context">
    <table class="table col-lg-12">
        <tr class="info">
            <th colspan="2">搜尋結果：共<span id="ResultCount"></span>筆，第<span id="ResultPage"></span>頁</th>
        </tr>
    </table>

</div>


