@model SiSee_v1.Models.ViewModels.SpotDetail

@{
    ViewBag.Title = "SpotDeatail";
}

<h2>SpotDeatail</h2>

<div>
    <h4>SpotDetail</h4>
    <hr />

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
