@using Microsoft.AspNet.Identity

<ul class="nav navbar-nav navbar-right">
    <li>
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" style="margin-top:10px">
        </fb:login-button>
    </li>
    <li>@Html.ActionLink("註冊", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

    <li>@Html.ActionLink("登入", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
