@using Microsoft.AspNet.Identity
@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("關於我", "Details", "Users", null, new { @class = "glyphicon glyphicon-th-large AboutMe" })
        </li>
        <li>
            @Html.ActionLink("登出", "Logout", "Users", null, new { @class = "glyphicon glyphicon-log-out" })
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @*<fb:login-button scope="public_profile,email" onlogin="checkLoginState();" style="margin-top:10px">
                </fb:login-button>*@
            <a href="#" class="FBloginbutton"><span class="glyphicon glyphicon-user"></span>登入/註冊</a>
        </li>
    </ul>
}

